// Import global styles
@import 'global';
@import '_variables';
// Import shared component styles
@import 'buttons';
@import 'forms';

// Page-specific styles
.home {
  height: 100vh; /* Adjust the height as needed */
  padding-top: 40vh; /* Adjust the padding as needed */
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-image: url('../static/background.jpg'); /* Update the path if needed */
  background-size: cover;

  .banner {
    background-color: $primary-color;
    color: white;
    padding: $spacing-unit * 2;
    border-radius: $border-radius;
  }

  .featured-articles {
    margin-top: $spacing-unit * 2;

    .article-card {
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: $spacing-unit;
      margin-bottom: $spacing-unit;

      .title {
        font-weight: bold;
        font-size: $font-size-large;
      }

      .description {
        color: $text-color-light;
      }

      .read-more-button {
        margin-top: $spacing-unit;
      }
    }
  }
}


