// Import global styles
@import 'global';
@import '_variables';
// Import shared component styles
@import 'buttons';
@import 'forms';

// Page-specific styles
.home {
  border: none; // Add this line
  height: 100vh;
  width: 100%;
  overflow: hidden;
  align-items: flex-start;  // Align items to the start
  text-align: left; // Align text to the left
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  h1 { // Add this block
    font-size: 4em; // Makes the text larger
    color: white; // Makes the text color white
    text-transform: capitalize; // This will ensure the text is in title case
    padding-left: 20px; // Add padding to left to give some space from the edge
  }
}

// Navbar styles
.navbar {
  display: flex;
  justify-content: space-between;
  padding: $spacing-unit;
  background-color: $primary-color;
  
  // styles for the responsive toggle button
  .navbar-toggle {
    display: none; // hidden by default, will show on small screens
    border: none;
    background: transparent;

    .navbar-toggle-icon {
      width: 30px;
      height: 2px;
      background-color: white;
    }
  }
  
  // styles for the nav menu
  .navbar-collapse {
    display: flex; // display as flex by default

    @media (max-width: 768px) { // on small screens
      display: none; // hide by default
      flex-direction: column; // stack items vertically
    }
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    
    .nav-item {
      margin-right: $spacing-unit;
      
      a {
        color: white;
        text-decoration: none;
        
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

// Rest of your styles...


// Rest of your styles...
.banner {
  background-color: $primary-color;
  color: white;
  padding: $spacing-unit * 2;
  border-radius: $border-radius;
}

.featured-articles {
  margin-top: $spacing-unit * 2;

  .article-card {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;

    .title {
      font-weight: bold;
      font-size: $font-size-large;
    }

    .description {
      color: $text-color-light;
    }

    .read-more-button {
      margin-top: $spacing-unit;
    }
  }
}
