// Import Bootstrap styles
@import 'bootstrap/scss/bootstrap';
@import 'styles';


// Your custom styles
body {
  background-color: #6a5a5a;
}
.header {
  background-color: white;
  color: black;
  padding: 20px;
}

.header__title {
  font-size: 24px;
  margin: 0;
}
