<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->

  <title>{{ title }}</title>
</head>
<body>
  <header>
    {% include 'navbar.html' %}
  </header>
  <main>
    {% block content %}
    <!-- The content of the child templates will be rendered here -->
    {% endblock %}
  </main>
  <footer>
    <!-- Footer goes here -->
  </footer>

  <!-- Optional JavaScript -->
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

  <!-- Custom JavaScript -->
  <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
</body>
</html>



